.footer {
  font-family: "Inter", sans-serif; /* Aplicando a fonte Inter */
  background-color: #0081fe !important; /* Cor de fundo */
  color: white !important; /* Cor do texto */
  height: 10% !important;
  border-radius: 0px;
  padding: 10px; /* Espaçamento interno */
}

.nav-link {
  color: white !important;
}

.footer-section {
  text-align: center; /* Centralizar conteúdo */
  margin: 5px; /* Espaçamento entre seções */
}

.footer-logo {
  width: 100px; /* Tamanho do logo */
  margin-bottom: 10px; /* Espaçamento inferior */
}

.footer-description {
  font-size: 14px; /* Tamanho da fonte da descrição */
  margin-bottom: 10px; /* Espaçamento inferior */
}

.footer-company {
  font-size: 12px; /* Tamanho da fonte da informação da empresa */
  margin-top: 10px; /* Espaçamento superior */
}

.btn-back-to-top {
  font-size: 14px; /* Tamanho da fonte do botão */
  margin-top: 10px; /* Espaçamento superior */
  background-color: white; /* Fundo branco */
}

.btn-back-to-top:hover {
  background-color: rgb(0, 0, 0); 
}
